<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Summer_Internship_Backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:3000</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>10</param-value>
    </init-param>
 </filter>
 <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
 </filter-mapping>
  <servlet>
    <servlet-name>DummyServlet</servlet-name>
    <servlet-class>com.higradius.DummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DummyServlet</servlet-name>
    <url-pattern>/dummy.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>GetAllRecordServlet</servlet-name>
   <servlet-class>com.higradius.main.controllers.GetAllRecordServlet</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>GetAllRecordServlet</servlet-name>
   <url-pattern>/getAllRecords</url-pattern>
</servlet-mapping>

 <servlet>
   <servlet-name>GetRecordsPagination</servlet-name>
   <servlet-class>com.higradius.main.controllers.GetRecordsPagination</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>GetRecordsPagination</servlet-name>
   <url-pattern>/getAllRecordsByPage</url-pattern>
</servlet-mapping>


 <servlet>
   <servlet-name>InsertInvoiceRecord</servlet-name>
   <servlet-class>com.higradius.main.controllers.InsertInvoiceRecord</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>InsertInvoiceRecord</servlet-name>
   <url-pattern>/insertInvoiceRecord</url-pattern>
</servlet-mapping>


 <servlet>
   <servlet-name>DeleteInvoiceRecord</servlet-name>
   <servlet-class>com.higradius.main.controllers.DeleteInvoiceRecord</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>DeleteInvoiceRecord</servlet-name>
   <url-pattern>/deleteInvoiceRecord</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>TemplateServlet</servlet-name>
   <servlet-class>com.higradius.main.controllers.TemplateServlet</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>TemplateServlet</servlet-name>
   <url-pattern>/templateServlet</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>SearchInvoiceRecord</servlet-name>
   <servlet-class>com.higradius.main.controllers.SearchInvoiceRecord</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>SearchInvoiceRecord</servlet-name>
   <url-pattern>/searchByInvoiceId</url-pattern>
</servlet-mapping>


<servlet>
   <servlet-name>EditInvoiceRecordServlet</servlet-name>
   <servlet-class>com.higradius.main.controllers.EditInvoiceRecordServlet</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>EditInvoiceRecordServlet</servlet-name>
   <url-pattern>/editInvoiceRecord</url-pattern>
</servlet-mapping>
</web-app>